<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>exam</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <p>Feel free to download any exam papers you want.</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <p>SUBJECT: PROFICIENCY ENGLISH I</p>
      <p>SUBJECT CODE: HPE1013</p>
      <p>YEAR: 2018</p>
  <ion-button size="small" href="https://firebasestorage.googleapis.com/v0/b/kuptm-service-system.appspot.com/o/exam_papers%2FHPE1013%20-%20PROFICIENCY%20ENGLISH%201.pdf?alt=media&token=e8ca0c18-20d7-4019-8e00-c352709f0490" (click)="openToast()">GET PAPER</ion-button>

</ion-card-content>
</ion-card>


  <ion-card>
    <ion-card-content>
      <p>SUBJECT: CALCULUS AND ALGEBRA</p>
      <p>SUBJECT CODE: MAT2033</p>
      <p>YEAR: 2019</p>
      <ion-button size="small" href="https://firebasestorage.googleapis.com/v0/b/kuptm-service-system.appspot.com/o/exam_papers%2FMAT2033-CALCULUS%20AND%20ALGEBRA.pdf?alt=media&token=0655850f-917e-4af2-a505-5a8fcfe78af4" (click)="openToast()" >GET PAPER</ion-button>
</ion-card-content>
</ion-card>


  <ion-card>
    <ion-card-content>
      <p>SUBJECT: PENGAJIAN MALAYSIA 2</p>
      <p>SUBJECT CODE: MPU2163</p>
      <p>YEAR: 2019</p>
      <ion-button size="small" href="https://firebasestorage.googleapis.com/v0/b/kuptm-service-system.appspot.com/o/exam_papers%2FMPU2163-PENGAJIAN%20MALAYSIA%202.pdf?alt=media&token=29238a57-1b5c-472b-b997-ad92b9a969c7" (click)="openToast()" >GET PAPER</ion-button>
</ion-card-content>
</ion-card>


  <ion-card>
    <ion-card-content>
      <p>SUBJECT: STUDY SKILLS</p>
      <p>SUBJECT CODE: MPU2223</p>
      <p>YEAR: 2019</p>
      <ion-button size="small" href="https://firebasestorage.googleapis.com/v0/b/kuptm-service-system.appspot.com/o/exam_papers%2FMPU2223-STUDY%20SKILLS.pdf?alt=media&token=b07ce703-0f61-4d2e-9701-4f1048e52ea0" (click)="openToast()" >GET PAPER</ion-button>
</ion-card-content>
</ion-card>


  <ion-card>
    <ion-card-content>
      <p>SUBJECT: OPERATING SYSTEMS</p>
      <p>SUBJECT CODE: TCS2073</p>
      <p>YEAR: 2019</p>
      <ion-button size="small" href="https://firebasestorage.googleapis.com/v0/b/kuptm-service-system.appspot.com/o/exam_papers%2FTCS2073-OPERATING%20SYSTEMS.pdf?alt=media&token=4aef9868-9139-4939-a7bd-f010a6c0f68c" (click)="openToast()" >GET PAPER</ion-button>
</ion-card-content>
</ion-card>


  <ion-card>
    <ion-card-content>
      <p>SUBJECT: COMPUTER NETWORK SECURITY</p>
      <p>SUBJECT CODE: TNW3023</p>
      <p>YEAR: 2019</p>
      <ion-button size="small" href="https://firebasestorage.googleapis.com/v0/b/kuptm-service-system.appspot.com/o/exam_papers%2FTNW3023-COMPUTER%20NETWORK%20SECURITY.pdf?alt=media&token=218ce760-dbdd-4787-b352-8a758fca783d" (click)="openToast()" >GET PAPER</ion-button>
</ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <p>SUBJECT: STATISTICS</p>
    <p>SUBJECT CODE: TQM1013</p>
    <p>YEAR: 2019</p>
    <ion-button size="small" href="https://firebasestorage.googleapis.com/v0/b/kuptm-service-system.appspot.com/o/exam_papers%2FTQM1013-STATISTICS.pdf?alt=media&token=337b0e8e-d517-43bf-b0f4-16744a1ba5e1" (click)="openToast()" >GET PAPER</ion-button>
</ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <p>SUBJECT: OBJECT ORIENTED PROGRAMMING</p>
    <p>SUBJECT CODE: TSE2094</p>
    <p>YEAR: 2019</p>
    <ion-button size="small" href="https://firebasestorage.googleapis.com/v0/b/kuptm-service-system.appspot.com/o/exam_papers%2FTSE2094-OBJECT%20ORIENTED%20PROGRAMMING.pdf?alt=media&token=4fcd59ce-84c1-429c-beed-47004cc9bd35" (click)="openToast()" >GET PAPER</ion-button>
</ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <p>SUBJECT: ORGANIZATIONAL COMMUNICATION</p>
    <p>SUBJECT CODE: HCC1043</p>
    <p>YEAR: 2019</p>
    <ion-button size="small" href="https://firebasestorage.googleapis.com/v0/b/kuptm-service-system.appspot.com/o/exam_papers%2FTSE2094-OBJECT%20ORIENTED%20PROGRAMMING.pdf?alt=media&token=4fcd59ce-84c1-429c-beed-47004cc9bd35" (click)="openToast()" >GET PAPER</ion-button>
</ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <p>SUBJECT: PUBLIC RELATIONS PRINCIPLES</p>
    <p>SUBJECT CODE: HCC1053</p>
    <p>YEAR: 2019</p>
    <ion-button size="small" href="https://firebasestorage.googleapis.com/v0/b/kuptm-service-system.appspot.com/o/exam_papers%2FHCC1053-PUBLIC%20RELATIONS%20PRINCIPLES.pdf?alt=media&token=ec9ce51f-1411-4279-95f2-7de2afce47bd" (click)="openToast()" >GET PAPER</ion-button>
</ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <p>SUBJECT: INTERNATIONAL PUBLIC RELATIONS</p>
    <p>SUBJECT CODE: HCC2063</p>
    <p>YEAR: 2019</p>
    <ion-button size="small" href="https://firebasestorage.googleapis.com/v0/b/kuptm-service-system.appspot.com/o/exam_papers%2FHCC2063-INTERNATIONAL%20PUBLIC%20RELATIONS.pdf?alt=media&token=6183afc5-8198-42d2-b15f-8909294ad176" (click)="openToast()" >GET PAPER</ion-button>
</ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <p>SUBJECT: CROSS-CULTURAL COMMUNICATION</p>
    <p>SUBJECT CODE: HCM2033</p>
    <p>YEAR: 2019</p>
    <ion-button size="small" href="https://firebasestorage.googleapis.com/v0/b/kuptm-service-system.appspot.com/o/exam_papers%2FHCM2033-CROSS-CULTURAL%20COMMUNICATION.pdf?alt=media&token=39006545-76a2-4499-a7a1-754e67e580d8" (click)="openToast()" >GET PAPER</ion-button>
</ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <p>SUBJECT: MICROECONOMICS</p>
    <p>SUBJECT CODE: PEC1103</p>
    <p>YEAR: 2019</p>
    <ion-button size="small" href="https://firebasestorage.googleapis.com/v0/b/kuptm-service-system.appspot.com/o/exam_papers%2FPEC1103-MICROECONOMICS.pdf?alt=media&token=67cd8789-3dc0-47a2-b578-85f805ed2c8a" (click)="openToast()" >GET PAPER</ion-button>
</ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <p>SUBJECT: FINANCIAL ACCOUNTING 1</p>
    <p>SUBJECT CODE: PFA1083</p>
    <p>YEAR: 2019</p>
    <ion-button size="small" href="https://firebasestorage.googleapis.com/v0/b/kuptm-service-system.appspot.com/o/exam_papers%2FPFA1083-FINANCIAL%20ACCOUNTING%201.pdf?alt=media&token=7ffe9311-839d-40fc-97fd-76e8003e6dfa" (click)="openToast()" >GET PAPER</ion-button>
</ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <p>SUBJECT: FINANCIAL MANAGEMENT 3</p>
    <p>SUBJECT CODE: PFN2163</p>
    <p>YEAR: 2019</p>
    <ion-button size="small" href="https://firebasestorage.googleapis.com/v0/b/kuptm-service-system.appspot.com/o/exam_papers%2FPFN2163-FINANCIAL%20MANAGEMENT.pdf?alt=media&token=624eeef4-569f-47ab-967f-ad80349232aa" (click)="openToast()" >GET PAPER</ion-button>
</ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <p>SUBJECT: INVESTMENT MANAGEMENT</p>
    <p>SUBJECT CODE: PFN3193</p>
    <p>YEAR: 2019</p>
    <ion-button size="small" href="https://firebasestorage.googleapis.com/v0/b/kuptm-service-system.appspot.com/o/exam_papers%2FPFN3193-INVESTMENT%20MANAGEMENT.pdf?alt=media&token=31dd587e-2d6b-4f4f-b7b3-447638a6d8ff" (click)="openToast()" >GET PAPER</ion-button>
</ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <p>SUBJECT: COST ACCOUNTING</p>
    <p>SUBJECT CODE: PMA1023</p>
    <p>YEAR: 2018</p>
    <ion-button size="small" href="https://firebasestorage.googleapis.com/v0/b/kuptm-service-system.appspot.com/o/exam_papers%2FPMA1023-COST%20ACCOUNTING.pdf?alt=media&token=225a3d47-20b8-4814-8dba-728f402e5511" (click)="openToast()" >GET PAPER</ion-button>
</ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <p>SUBJECT: INFORMATION TECHNOLOGY SKILLS AND APPLICATIONS</p>
    <p>SUBJECT CODE: TTS2233/ITC1023</p>
    <p>YEAR: 2019</p>
    <ion-button size="small" href="https://firebasestorage.googleapis.com/v0/b/kuptm-service-system.appspot.com/o/exam_papers%2FTTS2233-IT1023-INFORMATION%20TECHNOLOGY%20SKILLS%20AND%20APPLICATION.pdf?alt=media&token=91e9bb00-2c5f-4862-b66d-3d076fb969a2" (click)="openToast()" >GET PAPER</ion-button>
</ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <p>SUBJECT: WEB APPLICATION AND DEVELOPMENT</p>
    <p>SUBJECT CODE: TSE3184</p>
    <p>YEAR: 2018</p>
    <ion-button size="small" href="https://firebasestorage.googleapis.com/v0/b/kuptm-service-system.appspot.com/o/exam_papers%2FTSE3184-WEB%20APPLICATION%20AND%20DEVELOPMENT.pdf?alt=media&token=5d1b31e5-d0bf-45f4-9843-22e47afc8fb3" (click)="openToast()" >GET PAPER</ion-button>
</ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <p>SUBJECT: OBJECT ORIENTED ANALYSIS AND DESIGN</p>
    <p>SUBJECT CODE: TSE3204</p>
    <p>YEAR: 2018</p>
    <ion-button size="small" href="https://firebasestorage.googleapis.com/v0/b/kuptm-service-system.appspot.com/o/exam_papers%2FTSE3204-OBJECT%20ORIENTED%20SYSTEM%20ANALYSIS%20AND%20DESIGN.pdf?alt=media&token=e5c1632d-29c1-4c54-a952-fd1b5b357170" (click)="openToast()" >GET PAPER</ion-button>
</ion-card-content>
</ion-card>




</ion-content>
