<ion-header >
  <ion-toolbar color="danger">
     <ion-buttons slot="start">
       <ion-back-button></ion-back-button>
     </ion-buttons>
    <ion-title>SERVICES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   <div class="buttons">
   <ion-button class="ion-padding" size="large" expand="full" shape="round" color="danger" [routerLink]="['/hardware']">
    HARDWARE 
   </ion-button>
   <ion-button class="ion-padding" size="large" expand="full" shape="round" color="danger" [routerLink]="['/venue']">
    VENUE
   </ion-button>
   <ion-button class="ion-padding" size="large" expand="full" shape="round" color="danger" [routerLink]="['/exam']">
    EXAM
   </ion-button>
   <ion-button class="ion-padding" size="large" expand="full" shape="round" color="danger" [routerLink]="['/printing']">
    PRINT
   </ion-button>
  </div>


  
</ion-content>